*{

	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6{


	font-family: 'Libre Franklin', sans-serif;
}

a, a:hover{
	text-decoration: none;
}

body{
	font-size: 14px;
	line-height: 24px;
	font-family: 'Maven Pro', sans-serif
}

/*header-section start */

.header-section{

	width:100%;
	background: url("../image/pic4/banner1.png") center top no-repeat;
	background-size: cover;
}

.main-menu{

	width:100%;
}

.main-menu .bg-light{

	background: transparent !important;
}

.main-menu .navbar-brand img{

	max-width:166px;
	margin-top: 10px;
	
}

.main-menu .navbar-light .navbar-nav .active > .nav-link {
    color: #511de5;
    background: url("../image/pic4/da.png") center bottom no-repeat;
    background-size: contain;

}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    margin: 0px 8px 0px 0px;

}


.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{

	    color: #511de5;
    background: url("../image/pic4/da.png") center bottom no-repeat;
      background-size: contain;

}


.main-menu .navbar-light .btn-link{

	 color: #000;
    font-size: 14px;
    font-weight: 700;
    margin: 0px 8px 0px 0px;
}

.main-menu .navbar-light .btn-link:hover{

	text-decoration: none;
	color: #511de5;
}

.main-menu .navbar-light .btn-info{

	padding: 8px 40px;
	font-size: 14px;
	font-weight: 600;
	text-transform: capitalize;
	color#ffffff;
	background: linear-gradient(45deg, #511de5, #0c8afb);
	border: 0px;
	border-radius: 25px;
	transition: 1s;
}

.main-menu .navbar-light .btn-info:hover, .main-menu .navbar-light .btn-info:focus{

		color#ffffff;
	background: linear-gradient(45deg,  #0c8afb, #511de5);
}
/*bannerc code start*/

.banner{

	width:100%;
	padding: 120px 0px;
}

.banner .inner-banner{

	width:100%;
	text-align: right;
	padding: 120px 0px;
}

.banner .inner-banner h1{

	font-size:40px;
	font-weight: 700;
	line-height: 50px;
	color:#000;

}

.banner .inner-banner h1 span{

	color:#511de5;


}


.banner .inner-banner .btn-primary{

	font-size: 14px;
	font-weight: 480;
	text-transform: uppercase;
	color:#061113;
	background: #f2f2f2;
	border-radius: 25px;
	border:1px solid #f2f2f2;
	padding: 8px 36px;
	transition: 1s;
	margin-top: 20px;
	letter-spacing: 3px;
}

.banner .inner-banner .btn-primary:hover, .banner .inner-banner .btn-primary:focus{

	color:#061113;
	background:transparent; 
	border:1px solid #061113;
}

.banner .inner-banner .btn-primary .fa{

	margin-left:10px;
}

/*highlight section start*/

.highlight{


	width: 100%;
	padding:30px 0px 40px;
	background: url(../image/pic4/hi.png)center top no-repeat;
	background-size: cover;
}


.highlight .inner-high {

	width:100%;
	position: relative;
}

.highlight .inner-high img {
    position: absolute;
    top: -110px;
    left: 0px;
    

}

.highlight .inner-high h4{

	text-align: center;
	color:#ffffff;
	width:55%;
	margin: 0px auto;
	font-size:24px;
	line-height: 34px;
	margin-top: 20px;



}
/*header and banner responsive*/
/*******************************************************************************
		*** Responsive Media Quary code start
********************************************************************************/

  /* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /************************************/

  	.banner {

    padding: 20px 0px;
}

  

  	.banner .inner-banner{

    padding: 10px 0px;
}
  
	
	.banner .inner-banner h1 {
	    font-size: 30px;
	    line-height: 34px;
	    text-align: center;
	
	}

	.banner .inner-banner .btn-primary{

		font-size:12px;
		padding:5px 24px;

	}


/**************************************/
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
   /*********************************************/
.banner {

    padding: 20px 0px;
}

  

  	.banner .inner-banner{

    padding: 15px 0px;
}
  
	
	.banner .inner-banner h1 {
	    font-size: 32px;
	    line-height: 34px;
	    text-align: center;
	
	}

	.banner .inner-banner .btn-primary{

		font-size:12px;
		padding:6px 24px;
		margin-right: 140px;

	}

  /*********************************************/
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /*********************************************/

    	.banner {

    padding: 40px 0px;
}

  

  	.banner .inner-banner{

    padding: 20px 0px;
}
  
	
	.banner .inner-banner h1 {
	    font-size: 32px;
	    line-height: 33px;
	    text-align: center;
	
	}

	.banner .inner-banner .btn-primary{

		font-size:14px;
		padding:6px 28px;

	}

  /*********************************************/
}

/*feature section start*/

.feature{

	width:100%;
	padding:80px 0px;

}

.feature .inner-featuer{

	width:100%;
	background: url("../image/pic4/f4.png")bottom right no-repeat;
	background-size: cover;
	padding:80px;
	box-shadow:1px 2px 10px #cccccc;

}

.feature .inner-featuer h2{

	font-size: 32px;
	font-weight: 900;
	line-height: 40px;
	margin-bottom: 26px;
	color:#000000;
}

.feature .inner-featuer p{

	font-size: 14px;
	color:#000000;
	margin-bottom: 36px;
}

.feature .inner-featuer .big-text{

	margin-top: 78px;
}

.feature .inner-featuer .big-text .percent{

	font-size: 80px;
	font-weight: 900;
	margin: 0px 10px 0px 0px;
	background:linear-gradient( 100deg,#511de5 , #0990fc );
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;


}

.feature .inner-featuer .big-text .pi{

	font-size: 16px;
	font-weight: 700;
}

/*feature section end*/
/*client-image section start*/ 

.client-image{

	width: 100%;
	padding: 60px 0px 0px;
}
/*client-image section end*/ 
/*into-quoto section start*/

.into-quoto{

	width:100%;
	background:url("../image/pic4/bg1.png")center top no-repeat;
	background-size: cover;
	padding: 116px 0px;
}

.into-quoto .quote-inner{

	width:100%;
	background:url("../image/pic4/bg2-removebg-preview(1).png")center top no-repeat;
	background-size: contain;
	padding:80px 30px;
	margin-top:44px;

}

.into-quoto .quote-inner .testimonial-quote{

	width:80%;
	padding: 20px;
	margin: 0px auto;
}

.into-quoto .quote-inner .testimonial-quote p{

	font-size: 14px;
	color:#ffffff;
	margin: 20px 0px 20px 28px;
}

.into-quoto .quote-inner .testimonial-quote h4{

	font-size: 16px;
	color:#ffffff;
	margin: 10px 0px 0px 28px;
}


.inner-content{

	width:100%;
	padding: 160px 0px;
}

.inner-content h2{

	font-size:40px;
	font-weight: 700;
	line-height: 50px;
	color:#000;
}


.inner-content .btn-primary{

	font-size: 14px;
	font-weight: 480;
	text-transform: uppercase;
	color:#061113;
	background: #f2f2f2;
	border-radius: 25px;
	border:1px solid #f2f2f2;
	padding: 8px 36px;
	transition: 1s;
	margin-top: 20px;
	letter-spacing: 3px;
}


.inner-content .btn-primary:hover, .inner-content .btn-primary:focus{

	color:#061113;
	background:transparent; 
	border:1px solid #061113;
}

.inner-content .btn-primary .fa{

	margin-left:10px;
}
/*into-quoto section end*/
/*efficiancy section start*/

.efficiancy{
	width:100%;
	padding: 80px 0px;
}

.efficiancy h2{

	font-size: 40px;
	font-weight: 500;
	line-height: 50px;
	margin-bottom: 26px;
	margin-top: 80px;
	color:#000000;
	letter-spacing: 1px;
}

.efficiancy p{

	font-size: 14px;
	font-weight: 480;
	color:#000000;
	margin-bottom: 36px;

}

.efficiancy .Track{

	font-size: 14px;
	font-weight: 500;
	color:#000000;
	margin-bottom: 15px;
}


.efficiancy .data{

	font-size: 14px;
	font-weight: 600;
	color:#000000;
	margin-bottom: 15px;
}

.efficiancy .data img, .efficiancy .Track img{

	margin-right: 10px;
}


.efficiancy .btn-primary{

	font-size: 14px;
	font-weight: 480;
	text-transform: uppercase;
	color#ffffff;
	background: linear-gradient(45deg, #511de5, #0c8afb );
	border-radius: 25px;
	border:none/*1px solid #f2f2f2*/;
	padding: 8px 36px;
	transition: 1s;
	margin-top: 20px;
	letter-spacing: 3px;
}



.efficiancy .btn-primary:hover, .efficiancy .btn-primary:focus {

	color:#ffffff;
	background: linear-gradient(45deg,  #0c8afb ,#511de5 );
	border:1px solid #061113;
}

.efficiancy .btn-primary .fa{

	margin-left:10px;
}

/*efficiancy section end*/
/*effi-section section start*/

.effi-section{

	width:100%;
	padding:80px 0px;
	background: #fcfcfc;
}

.effi-section .title{
	width:100%;
	text-align: center;
	padding:0px 0px 14px;

}

.effi-section .title h2{

	font-size: 42px;
	font-weight: 900;
	line-height: 50px;
	margin-bottom: 28px;
	margin-top: 0px;
	color:#000000;
	letter-spacing: 1px;
}

.effi-section .title p{

	width:100%;
	font-size: 12px;
	font-weight: 480;
	color:#000000;
	padding-bottom: 36px;
	margin: 0px auto;

}


.effi-section .effi-inner{

	width:100%;
	padding:30px 40px;
	text-align: center;
}

.effi-section .effi-inner img{


}


.effi-section .effi-inner h4{

	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	color:#000000;
}

.effi-section .effi-inner p{

	font-size: 14px;
	font-weight: 400px;
	line-height: 24px;
	color:#000000;

}

/*effi-section section end*/
/*quote-section start*/

.quote-section{

	width:100%;
	padding: 80px 0px;
	/*color:#ffffff;*/
}

.quote-section .title h2{

	text-align: center;
	font-size: 56px;
	font-weight: 900;
	line-height: 50px;
	line-height: 62px;
	margin-bottom: 80px;
	margin-top: 0px;
	color:#000000;
	letter-spacing: 1px;
}

.quote-section .client-box{

	width:100%;
	background: url("../image/pic4/hard1.png")center top no-repeat;
	background-size: contain;
	text-align: center;
	padding: 40px 10px;
	border: 1px solid #f2f2f2;
	opacity: .5;


}

.quote-section .client-box .top-head{

	width:100%;
	padding:55px 0px;
	border-bottom: 1px solid #eeeeee;

}

.quote-section .client-box .top-head h5{

	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	color:#999999;

}

.quote-section .client-info{

	width:100%;
	padding:40px 5px 0px;

}

 .quote-section .client-info img{

 	width:60px;
 	height: 60px;
 	border-radius: 100%;
 	margin-bottom: 20px;
}

 .quote-section .client-info h6{

	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	color:#777777;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.quote-section .client-info p{

	font-size: 14px;
	font-weight: 400px;
	line-height: 24px;
	color:#777777;
	margin-bottom: 0px;
	text-transform: capitalize;
}

.quote-section .client-box:hover{

	opacity: 1;
}

.quote-section .client-box:hover .top-head{

	background: -webkit-linear-gradient(1deg, #511de5 ,#0c8bfb);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;


}

.quote-section .client-box:hover .client-info h6{

	color:#000000;
}

.quote-section .client-box:hover .client-info p{

	color:#666666;
}
/*quote-section end*/
/*footer-section start*/
.footer-section{

	width:100%;
	background: url("../image/pic4/fut.png")center top no-repeat;
	background-size: contain;
	padding:80px 0px ;
}

.footer-section .faq{

	width:100%;


}
.footer-section .inner-faq{

	width:100%;
	background:#ffffff;
	padding:80px;
	box-shadow: 1px 1px 2px 2px #cccccc;


}

.footer-section .inner-faq .title{
	width:100%;
	text-align: center;
	padding:0px 0px 14px;


}

.footer-section .inner-faq .title h2{

	font-size: 52px;
	font-weight: 900;
	line-height: 50px;
	margin-bottom: 50px;
	color:#000000;
	letter-spacing: 1px;
}

.inner-faq .card{

	background-clip: none;
	border-left: :none;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid#eeeeee !important;


}

.inner-faq .card .card-header{

	width:100%;
	padding:.75rem 1.25rem .75rem 1rem;
	margin-bottom: 0px;
	background-color: transparent;
	border-bottom: none;
}

.card  .card-body{

	padding: 0.25rem 1.25rem 1.25rem 0rem;
}

.inner-faq .card .card-header .btn{
	padding-left: 0px;
}

.inner-faq .card .card-header .btn-link{

	color:#000;
	font-weight: 700;
	text-decoration: none;

}

.inner-faq .card .card-header .btn:focus{


	outline: 0;
	box-shadow: none;

}

		


.inner-faq .card .card-header .btn-link:hover, .inner-faq .card .card-header .btn-link:focus{

	color:#0000ff;

}

.inner-faq  .card-body{

	
	font-size: 14px;
	line-height: 14px;
	color:#000000;

	
}
/*footer-section end*/
/*footer-end section start*/
.fut-end{

	width: 100%;
		
}

.footer-end{

	width:100%;
}

.footer-end ul{



}

.footer-end ul li{

	list-style: none;
	display: inline-block;
	margin-top:  120px; 

}


.footer-end ul li a{


}

.footer{
    width: 100%;
    background: url("../image/pic4/fut.png") center top no-repeat;
    background-size: cover;
    padding: 80px 0px;
}
.faq{
    width: 100%;   
}
.inner-faq{
    width: 100%;
    background: #fff;
    padding: 80px 40px;
    box-shadow: 0px 0px 30px -10px #eee;
}
.inner-faq .title{
    width: 100%;
    padding: 0px 0px 40px;
    text-align: center;
}
.inner-faq .title h2{
    font-size: 52px;
    font-weight: 900;
    line-height: 62px;
    color: #000;
    margin-bottom: 25px;
    
    
}

.faq .card {
    background-clip: none;
    border-bottom: 1px solid #eee !important;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    padding: 0px;
    margin-left: 60px;
}
.faq .card-header {
    padding: 0.75rem 0.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}
.faq .btn-link {
    font-size: 20px;
    font-weight: 900;
    color: #000;
    text-decoration: none;
}
.faq .btn-link:hover, .faq .btn-link:focus{
    color: #0000ff;
}
.faq .btn:focus {
    outline: 0;
    box-shadow: none;
}
.copyright{
    width: 100%;
    
}
.copyright ul{
   
}
.copyright ul li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    margin-top: 120px;
}
.copyright ul li a {
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
}
.copyright p {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-top: 120px;
    text-align: right;
}















